.container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1rem;
}

.loginBtn {
  background-color: var(--main-green);
  color: var(--white);
  padding: var(--spacing-sm) var(--spacing-md);
  margin-right: var(--spacing-sm);
}

.signUpBtn {
  background-color: var(--white);
  color: var(--main-green);
  padding: var(--spacing-sm) var(--spacing-md);
}
